<div id="notice" style="font-size:16px">
  Please login to proceed
</div>

<%= form_tag :action => 'process_login' do %>
	<p>E-mail:<br />
	<%= text_field "authentication", "username" %></p>
	<p>Password:<br />
	<%= password_field "authentication", "password" %></p>
	<%= submit_tag 'Login',class: "btn btn-primary"%>
	<a href = "javascript:history.back()">Go back</a>
	<%if flash[:error]%>
	<p style="color:red"><%= flash[:error]%></p>
	<%end%>
<% end %> 