<% make_counter1 = Makecount.make_counter %>


  <div class="container">
    <h1 class="brand">What is Capital Round？</h1>
    <div class="span12">
    <div class="row-fluid hero-unit">
      <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
          <div class="active item">
            <img src="/images/logo_capitalround.png">
            <div class="carousel-caption">
              <h4>How to use Capital Round</h4>
              <p>to be edited</p>
            </div>
          </div>
          <div class="item">
            <img src="/images/logo_capitalround.png">
            <div class="carousel-caption">
              <h4>So that you know how to use it?</h4>
              <p>to be edited</p>
            </div>
          </div>
          <div class="item">
            <img src="/images/logo_capitalround.png">
            <div class="carousel-caption">
              <h4>Do you know me?</h4>
              <p>OK, It doesn't matter</p>
            </div>
          </div>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev" >‹</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next" >›</a>
      </div>
    </div>
  </div>
</div>



<!--
<div class="span4">
<div class="admit-box margin">
								<a href="#">
<img alt="Learn about ECE." class="span12" src="/images/logo_capitalround.png">
<h4 class="box-caption">Learn about ECE <span class="carousel-control right">›</span></h4>
</a>							</div>
<div class="admit-box margin">
								<a href="#">
<img alt="Visit the Campus." class="span12" src="/images/logo_capitalround.png">
<h4 class="box-caption">Visit the Campus <span class="carousel-control right">›</span></h4>
</a>							</div>
<div class="admit-box margin">
								<a href="#">
<img alt="Fall 2013 Admissions" class="span12" src="/images/logo_capitalround.png">
<h4 class="box-caption">Fall 2013 Admissions <span class="carousel-control right">›</span></h4>
</a>							
</div>
<div class="admit-box">
								<a href="#">
<img alt="Apply online." src="/images/logo_capitalround.png">
<h4 class="box-caption">Specials Events <span class="carousel-control right">›</span></h4>
</a>							</div>
</div></div></div>



   <!-- <h3>For Investors</h3>
    <div class="row-fluid">
<div class="thumbnail">
    <% make_counter2 = 'home-investors' + make_counter1.call.to_s() %>
   		<div class="home-investors" id="<%= make_counter2 %>" onMouseMove="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#EBEBEB','DIV')" onMouseOut="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#FFFFFF','DIV')">
    		<h2>1. Browse companies</h2>
    		<p>Go through our portfolio companies and pick those you like</p>
		</div>
	
    <% make_counter2 = 'home-investors' + make_counter1.call.to_s() %>
    <div class="home-investors" id="<%= make_counter2 %>" onMouseMove="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#EBEBEB','DIV')" onMouseOut="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#FFFFFF','DIV')">
    		<h2>2. Invest</h2>
			<p>Invest as much or as little as you want and become a shareholder</p>
	</div>
    <% make_counter2 = 'home-investors' + make_counter1.call.to_s() %>
    <div class="home-investors" id="<%= make_counter2 %>" onMouseMove="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#EBEBEB','DIV')" onMouseOut="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#FFFFFF','DIV')">
	    	<h2>3. Become a Mentor</h2>
			<p>Help companies succeed: advice on strategy or specific approach</p>
	</div>
    <% make_counter2 = 'home-investors' + make_counter1.call.to_s() %>
    <div class="home-investors" id="<%= make_counter2 %>" onMouseMove="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#EBEBEB','DIV')" onMouseOut="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#FFFFFF','DIV')">
	    	<h2>4. Get return</h2>
			<p>Get return on equity. Contribute to the University community!</p>
	</div>
	
	<div style="clear:both"><br/></div>
    </div></div>

    <h3>For Startups</h3>
     <div class="row-fluid">
<div class="thumbnail">
    <% make_counter2 = 'home-investors' + make_counter1.call.to_s() %>
    <div class="home-investors" id="<%= make_counter2 %>" onMouseMove="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#EBEBEB','DIV')" onMouseOut="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#FFFFFF','DIV')">
    		<h2>1. Submit application</h2>
			<p>We will help you present you company, if needed</p>
	</div>
    <% make_counter2 = 'home-investors' + make_counter1.call.to_s() %>
    <div class="home-investors" id="<%= make_counter2 %>" onMouseMove="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#EBEBEB','DIV')" onMouseOut="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#FFFFFF','DIV')">
			<h2>2. Raise capital</h2>
			<p>Wait until your company gets funds from our Investors</p>
	</div>
    <% make_counter2 = 'home-investors' + make_counter1.call.to_s() %>
    <div class="home-investors" id="<%= make_counter2 %>" onMouseMove="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#EBEBEB','DIV')" onMouseOut="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#FFFFFF','DIV')">
			<h2>3. Use resources</h2>
			<p>Mentors as well as network of professionals from CMU</p>
	</div>
    <% make_counter2 = 'home-investors' + make_counter1.call.to_s() %>
    <div class="home-investors" id="<%= make_counter2 %>" onMouseMove="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#EBEBEB','DIV')" onMouseOut="MM_changeProp('<%= make_counter2 %>','','backgroundColor','#FFFFFF','DIV')">
			<h2>4. Be successful</h2>
			<p>Next rounds of funding, acquisition and, of course, IPO!</p>
	</div>
	
	<div style="clear:both"><br/></div>
	</div></div>
	 -->
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    });
  });
</script>
<script>
 $(document).ready(function() {
  var status = 0;
  $("#navcollapse").click(function() {
    if(status==1){
      $("#navcollapse img").rotate(0);
      $(".primary-nav li.hidden-phone").removeClass("available");
      $(".sub-primary-nav").show();
      status=0;
    }else{
      $("#navcollapse img").rotate(90);
      $(".primary-nav li.hidden-phone").addClass("available");
      $(".sub-primary-nav").hide();
      status=1;
    }
  });
 });
</script>
</div>
<div class="container">
    <h1 style="font-size: 20px;
  font-weight: 200px;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;">Featured startups</h1>
  

    


    <%= render :partial =>  Startup.find(:all, :limit => 3), :template => 'startups/_startup' %> 

</div>